<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" ng-model="search" id="search" >
                <label for="search">Recherche</label>
            </div>
        </div>
        <button ng-click="launchSearch()" class="btn waves-effect waves-light">Rechercher
            <i class="material-icons right">send</i>          
        </button>
        <p>
            <label>
                <input type="checkbox" ng-model="model1" ng-click="viderListe()" />
                <span>laboratoires</span>
            </label>
            <label>
                <input type="checkbox" ng-model="model2" ng-click="viderListe()" />
                <span>université</span>
            </label>
            <label>
                <input type="checkbox" ng-model="model3" ng-click="viderListe()" />
                <span>Co-Auteurs</span>
            </label>
        </p>
    </form>
    <div ng-if="model3 == false" class="col s12">
        <table>
            <thead>
                <tr>
                    <th>Doc ID</th>
                    <th>titre</th>
                    <th>Label</th>
                    <th>URI</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="result in results">
                    <td>{{result.id}}</td>
                    <td>{{result.titre}}</td>
                    <td>{{result.description}}</td>
                    <td>{{result.uri}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="model3 == true" class="col s12">
        <table>
            <thead>
                <tr>
                    <th>Doc ID</th>
                    <th>titre</th>
                    <th>Label</th>
                    <th>URI</th>
                    <th>Co-Author</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td>{{result.id}}</td>
                    <td>{{result.titre}}</td>
                    <td>{{result.description}}</td>
                    <td>{{result.uri}}</td>
                    <td>{{result.authors}}</td>                  
                </tr>
            </tbody>
        </table>  
    </div>
</div>